<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Iwaschenko_Palace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Iwaschenko_PalaceEntities" connectionString="metadata=res://*/Entities.ModelPalaceBase.csdl|res://*/Entities.ModelPalaceBase.ssdl|res://*/Entities.ModelPalaceBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=K20-7\SQLEXPRESS;initial catalog=Iwaschenko_Palace;user id=sa;password=111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Iwaschenko_PalaceEntities1" connectionString="metadata=res://*/Entities.IvashenkoModel.csdl|res://*/Entities.IvashenkoModel.ssdl|res://*/Entities.IvashenkoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Iwaschenko_Palace;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <Iwaschenko_Palace.Properties.Settings>
      <setting name="CurrentCulture" serializeAs="String">
        <value />
      </setting>
    </Iwaschenko_Palace.Properties.Settings>
  </userSettings>
</configuration>